**
!Dockerfile
!LICENSE
!hugo.toml
!hugo.server.toml
!archetypes/**
!assets/**
!content/**
!data/**
!layouts/**
!static/**
!themes/**
!apps/console/**
!apps/site/**
!services/api/**
!scripts/site.mjs
**/node_modules
**/dist
**/.env
**/*.db
**/*.sqlite*
**/*.log
**/.DS_Store
