{{ define "main" }}
{{ $posts := where .Site.RegularPages "Section" "in" (slice "posts" "excalidraw") }}
{{ $posts = partial "posts-sorted.html" (dict "Pages" $posts) }}
{{ $limit := .Site.Params.charts.tagsChartLength | default 10 }}
{{ $homeLayout := .Site.Params.home.layout | default "cards" }}
{{ if not (in (slice "cards" "timeline" "list") $homeLayout) }}{{ $homeLayout = "cards" }}{{ end }}
{{ $listArchives := eq $homeLayout "timeline" }}
{{ $mobileCardsList := partial "mobile-cards-list-enabled.html" (dict "Site" .Site) }}
{{ $tagItems := partial "posts-tag-items.html" . }}
<article class="sakura-page sakura-taxonomy-page sakura-tags-page{{ if $listArchives }} is-list-archives{{ end }}{{ if eq $homeLayout "list" }} is-layout-list{{ end }}{{ if $mobileCardsList }} is-mobile-cards-list{{ end }}">
  {{- partial "page-header.html" . -}}
  <div class="sakura-page-content">
    <div id="tags-chart" class="sakura-stat-chart sakura-tags-chart" data-echarts-url="{{ `/vendor/echarts/echarts.min.js` | relURL }}"></div>
    <script type="application/json" id="tags-chart-data">{{ $data := slice }}{{ range $i, $item := first $limit $tagItems }}{{ $data = $data | append (dict "name" $item.name "value" $item.count "tagKey" $item.term) }}{{ end }}{{ $data | jsonify | safeHTML }}</script>
    <div class="sakura-tag-buttons sakura-tags-list">
      {{ range $tagItems }}
      <button type="button" class="sakura-tag-button" data-tag="{{ .term }}">{{ .name }} [{{ .count }}]</button>
      {{ end }}
    </div>
    <div id="tags-post-section" class="sakura-tags-posts" data-list-layout="{{ if $listArchives }}archives{{ else }}cards{{ end }}" hidden>
      <div class="sakura-section-divider">
        <span class="iconify sakura-section-divider__icon" data-icon="fa6-solid:water"></span>
        <span class="sakura-section-divider__text">文章列表</span>
      </div>
      {{ if $listArchives }}
      {{- partial "archives-timeline-list.html" (dict
        "Pages" $posts
        "ItemClass" "tags-post-item"
        "FilterKey" "tags"
        "Id" "tags-post-list"
        "Hidden" true
      ) -}}
      {{ else }}
      <div class="sakura-post-list">
        <div class="post-list-container post-list-container--cards{{ if eq $homeLayout "list" }} post-list-container--desktop-list{{ end }}{{ if $mobileCardsList }} post-list-container--mobile-list{{ end }}" id="tags-post-list">
          {{ range $index, $page := $posts }}
          {{ $tags := slice }}
          {{ range ($page.GetTerms "tags") }}
            {{ $tags = $tags | append .Data.Term }}
          {{ end }}
          {{ if not $tags }}
            {{ $tags = $page.Params.tags | default slice }}
          {{ end }}
          <div class="tags-post-item" data-tags='{{ $tags | jsonify }}' hidden>
            {{- partial "post-card.html" (dict "Page" $page "Site" $.Site "Index" $index) -}}
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</article>
{{ end }}
