{{ $page := . }}
{{ $photos := $page.Params.photos | default slice }}
{{ $stackPhotos := slice }}
{{ with $page.Params.cover }}
  {{ $stackPhotos = $stackPhotos | append . }}
{{ end }}
{{ range $photos }}
  {{ with .url }}
    {{ if ne . $page.Params.cover }}{{ $stackPhotos = $stackPhotos | append . }}{{ end }}
  {{ end }}
{{ end }}
<li class="album-grid__item">
  <a class="album-grid__card" href="{{ $page.RelPermalink }}" aria-label="{{ $page.Title }}">
    <div class="album-grid__stack" aria-hidden="true">
    {{ range $index, $photo := first 3 $stackPhotos }}
      {{- partial "cover-list-media.html" (dict "cover" $photo "title" $page.Title "class" (printf "album-grid__cover album-grid__cover--stack album-grid__cover--stack-%d sakura-lazy-img" (add $index 1))) -}}
    {{ end }}
    {{ if not $stackPhotos }}
      <div class="album-grid__cover album-grid__cover--placeholder album-grid__cover--stack album-grid__cover--stack-1"><span>📷</span></div>
    {{ end }}
    </div>
    <div class="album-grid__caption">
      <h2 class="album-grid__title">{{ $page.Title }}</h2>
      {{ with $page.Params.desc }}<p class="album-grid__desc">{{ . }}</p>{{ end }}
    </div>
  </a>
</li>
