{{ $page := .Page }}
{{ $pos := mod (.Index | default 0) 2 }}
{{ $modifiedDate := partial "post-modified-date.html" $page }}
{{ $showDate := $modifiedDate.showDate }}
{{ $dateDisplay := $modifiedDate.display }}
{{ $dateTime := $modifiedDate.datetime }}
{{ $dateOnly := $modifiedDate.dateOnly }}
<li class="home-timeline-item {{ if eq $pos 0 }}is-left{{ else }}is-right{{ end }}{{ if $page.Params.pinned }} is-pinned{{ end }}">
  <div class="home-timeline-item__inner">
    <div class="home-timeline-item__content">
      <a class="home-timeline-card__link" href="{{ $page.RelPermalink }}" aria-label="阅读全文：{{ $page.Title }}">
        <h2 class="home-timeline-card__title">
          {{- partial "post-pinned-badge.html" $page -}}
          {{ $page.Title }}
        </h2>
        <p class="home-timeline-card__excerpt">{{ $page.Description | default $page.Summary | plainify | truncate 160 }}</p>
      </a>
    </div>
    <time class="home-timeline-card__date" datetime="{{ $dateTime }}"{{ if $dateOnly }} data-date-only="true"{{ end }} title="编辑于{{ $dateDisplay }}">
      <span class="home-timeline-card__date-year">{{ $showDate.Format `2006` }}</span>
      <span class="home-timeline-card__date-md">{{ $showDate.Format `01-02` }}</span>
    </time>
  </div>
  <span class="home-timeline-item__dot" aria-hidden="true"></span>
</li>
